<% if alert %>
  <div>
  <p style="text-align: center" onclick="this.parentElement.style.display='none';"><%= alert %> <a href="#" class="text-decoration-none">x</a></p>
  </div>
<% end %>
<% if notice %>
  <div>
    <p style="text-align: center" onclick="this.parentElement.style.display='none';"><%= notice %> <a href="#" class="text-decoration-none">x</a></p>
  </div>
<% end %>

