<div class="container">
  <div class="d-flex justify-content-end">
    <% if alert %>
      <div class="p-2 mt-2">
        <a href="#" class="btn btn-warning", onclick="this.parentElement.style.display='none';" ><%= alert %></a>
      </div>
    <% end %>
    <% if notice %>
      <div class="p-2 mt-2">
        <a href="#" class="btn btn-info", onclick="this.parentElement.style.display='none';" ><%= notice %></a>
      </div>
    <% end %>
  </div>
</div>

